
  
  h1{
    color: orangered;
    text-align: center;
  }

  h2{
      text-align: center;
  }

  p{
      font-size: 20px;
  }



  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

  a {
    color: dodgerblue;
  }
  

  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }

  

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }

  form {
    text-align: center;
  }