<h1>Welcome  username will go here lol !! Here is your current collection</h1>

<% @user.games.each do |g|%>
    <%= g.title%>
    <%= g.genre%>
    <%= g.price%>
<% end %>

<h2>Want to add a new game to your collection? <a href="/games/create">Add a game </a>
